@import "../../../assets/styles/variables.scss";

.box {
  width: 50px;
  height: 50px;
  background-color: #383a42;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.search {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  padding-left: 10px;
}

.searchHid {
  position: absolute;
  z-index: 4;
  top: 20px;
}

.substr > h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 8rem;
  margin-bottom: -0.4rem;
  color: $color-blue;
}

.substr > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10rem;
  color: $color-blue1;
}

.tumb::-webkit-scrollbar {
  width: 20px;
}

.tumb::-webkit-scrollbar-track {
  background-color: #ffffff00;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.tumb::-webkit-scrollbar-thumb {
  background-color: $color-green;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.linkStyle > div {
  background-color: #ffffff;
}

.searchPrice {
  color: $color-red;
}

.searchListbg {
  background-color: #e1e1e1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
