.employees {
  width: 200px;
  height: 100px;
  > div {
    display: flex;
    flex-direction: column;
  }
}

.employeeForm{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userLink{
  width: 100%;
  height: 50px !important;
}