.section10 {
  min-height: 751px;
  background-color: #cccccc;
}

.section10 h3 {
  font-size: 50px;
  color: #313131;
  font-weight: 700;
  font-family: "Libre Baskerville";
  text-align: center;
}

.section10 p {
  font-size: 18px;
  color: #616161;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}

.section10_input1 {
  font-size: 20px;
  min-width: 360px;
  height: 50px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  color: #333;
  margin-left: 10px;
}

.section10_textarea {
  border: none;
  font-size: 20px;
  width: 730px;
  height: 200px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  margin-left: 10px;
}

.section10_button {
  width: 190px;
  height: 50px;
  border-radius: 25px;
  background-color: #0d5d9c;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  letter-spacing: 1px;
  border: none;
}

.section10_button:hover {
  background-color: #0a4674 !important;
  color: #ffffff !important;
}

.section10_input1_2 {
  margin-top: 10px;
}

.colors > h2 {
  font-size: 18px;
  font-weight: 700;
  color: #444;
  padding: 0 0 12px 16px;
}

.section10box {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.color1 {
  width: 10px;
  height: 10px;
  background-color: #000000;
}

.age {
  width: 300px;
}
.age > h2 {
  font-size: 18px;
  font-weight: 700;
  color: #444;
  padding: 0 0 12px 16px;
}

.goals input,
label:hover {
  cursor: pointer;
}

@media screen and (max-width: 944px) {
  .section10_textarea {
    width: 360px;
    margin-left: 10px;
  }
  .section10_input1_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
  }

  .section10_input1 {
    margin-top: 10px;
  }
}

.filePond {
  width: 500px !important;
}

.app {
  width: 100%;
}

/////////////////////////////////

.box {
  width: 176px;
  height: 176px;
  background-color: #383a42;
  display: flex;
  justify-content: end;
  align-items: start;
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  margin-left: 20px;
  margin-right: 20px;
}
.box:hover > .close {
  display: block;
}
.imageDeleteBtn {
  width: 74px;
  height: 74px;
  border-radius: 9.34px;
}
.basketButton {
  width: 140px;
  min-height: 50px;
  background: green;
  border-radius: 10px;
  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  border: none;
  font-size: 16px;
  transition: 0.5s;
}

.basketButton:hover {
  background: red;
  transition: 0.5s;
}

.close {
  display: none;
}

.close:hover {
  cursor: pointer;
}
